* {
  margin: 0; /*Margens*/
  padding: 0; /*Preenchimento internos*/
  box-sizing: border-box; /*Tamanho de caixas*/
}

/*Agrupamento*/ /*image - repeat - position - size*/
body {
  background-image: url(./assets/bg-mobile.jpg); /*Importa o arquivo do diretório*/
  background-repeat: no-repeat; /*Redimensiona para a imagem não ficar se repetindo*/
  background-position: top center; /*Reposiciona a imagem para alinhar no eixo X e Y*/
  background-size: cover; /*Faz com que a imagem cubra toda a página*/
}

body {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  width: 360px;
  margin: auto;
  margin: 56px auto 0;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: bold;

  transition: all 0.5s;
}

ul li a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
}

#social-links{
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

#social-links a:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  border-radius: 50%;
}